<!doctype html>
<html>

<head>

  <title> {{{block "title"}}}风影网-摄影师自己的家园</title>
  <!--qq登录验证-->
  <meta property="qc:admins" content="1114473662665671517563757"/>
  <!--微博登录验证-->
  <meta property="wb:webmaster" content="3c87e39c762a0323"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/vendor/js/jquery-2.1.4.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/vue/vue.min.js"></script>
  <script src="/js/common.js"></script>
   {{{block "stylesheets"}}}
</head>

<body>
{{#if success}}
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>{{success}}</div>
{{/if}} {{#if error}}
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>{{error}} </div>
{{/if}}

<div class="header">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">导航</span>
                        <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="/" style="font-size: 22px;" >
            <span id="logo" class="logo"></span>
            <span id="logo_txt">风影</span></a> 
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav menu">
                <li><a href="/">首页</a></li>
                <li><a href="/photo">图集</a></li>
                <li><a href="/aticle">图文故事</a></li>
                 <li><a href="/search"> <i class="glyphicon glyphicon-search"></i></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right ">
            {{#if user}}
                <li><a href="/userspace">{{user.nickname}}</a></li>
                <li><a href="/create-photo">发照片</a></li>
                <li><a href="/create-aticle">发图文</a></li>
                <li><a href="/logout">退出</a></li>
            {{else}}
                <li><a href="/login" title="View login page" class="start-btn">登录</a>
                </li>
                <li><a href="/signup" title="View login page" class="start-btn">注册</a>
                </li>
            {{/if}}
            </ul>
        </div>
    </div>
</div>


{{{body}}}

<!--<div class="navbar-gradient"></div>-->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 hidden-xs col-sm-offset-1" style="border-right: 1px solid #888888;">
                <div class="row">
                    <div class="col-sm-4">
                        <dl>
                            <dt>协议</dt>
                            <dd> <a href="/protocol" target="_blank">用户协议</a></dd>
                            <dd> <a href="/protocol/qianbao" target="_blank">风影钱包使用协议</a></dd>
                        </dl>
                    </div>
                    <div class="col-sm-4">
                        <dl>
                            <dt>招聘信息</dt>
                            <dd> <a href="/protocol/zhaopin" target="_blank">招聘兼职模特</a></dd>
                            <dd> <a href="/protocol/zhaopin" target="_blank">招聘兼职摄影师</a></dd>
                        </dl>
                    </div>
                    <div class="col-sm-4">
                        <dl>
                            <dt>联系我们</dt>
                            <dd>QQ:1614445455</dd>
                            <dd>QQ:264406</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <dl>
                    <dt>关注我们</dt>
                    <dd> <a href="http://www.weibo.com/u/5894084947" target="_blank">风影网fengimage@新浪微博</a></dd>
                    <dd> 
                        微信公众号：fengyingtuwen；风影图文
                        <img class="weixin-logo" src="/img/weixin.jpg" alt="">
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
    <script>
  /**
  * 注册全局Ajax的错误处理，针对权限错误，弹出对话框，或链接跳转
  */
  $(document).ajaxError(function(event, jqxhr, settings, thrownError) {

    console.log(jqxhr.status+' '+jqxhr.statusText)

  });



  $(function () {
      var path_module = location.pathname.substr(4);
      if (path_module) {
          var index = path_module.indexOf('/');
          if (index > -1) {
              path_module = path_module.substring(0, index);
          }
          $('#' + path_module).addClass('active');
      }

  });

</script>


       {{{block "customerScript"}}}

</body>

</html>
