<!doctype html>
<html>
<head>
    <title>漫影首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
		<script src="/vendor/js/jquery-2.1.4.min.js" > </script>

</head>
<body>
{{#if success}}
  <div class="alert alert-success" role="alert">  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{success}}</div>
{{/if}}

{{#if error}}
  <div  class="alert alert-danger" role="alert">  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{error}} </div>
{{/if}}


    <div id="header">
      <div class="innerwapper">
        <h1 id="logo"> <a href="/">漫影</a></h1>
        <ul class="menu">
          <li class="on"><a href="/">首页</a></li>
<!--           <li><a href="/aticle">文章</a></li>
 -->          <li><a href="/photo">图集</a></li>
          <li><a href="/video">视频</a></li>
        </ul>
        <div class="userLoging">

        {{#if user}}


<a href="/ucenter">{{user.username}} </a><a href="/logout">退出</a> <a href="/create-aticle">发文字</a> <a href="/create-photo">发图片</a>
<a href="/create-video">发视频</a>
<a href="/score">充值</a>
{{user.money}}
{{else}}

   <a href="/login" title="View login page" class="start-btn">会员登录</a><a href="/signup" title="View login page" class="start-btn">注册</a>


{{/if}}

     


        </div>
      </div>
      <div class="navbar-gradient"></div>
    </div>



 {{{body}}}

	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</body>
</html>
