<!doctype html>
<html>
<head>
    <title>NodeJSCMS</title>

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>






	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
		<script src="/vendor/js/jquery-2.1.4.min.js" > </script>

</head>
<body>
{{#if success}}
  <div class="alert alert-success" role="alert">  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{success}}</div>
{{/if}}

{{#if error}}
  <div  class="alert alert-danger" role="alert">  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{error}} </div>
{{/if}}


<header>

	<h1>NodeJSCMS</h1>
	



{{#if user}}


<h2>欢迎回来！！{{user.username}}</h2> <a href="/logout">退出</a> <a href="/create-aticle">发文字</a> <a href="/create-photo">发图片</a>


{{else}}

<div class="user">
			<a href="/signup">注册</a><a href="/login">登录</a>
		</div>


{{/if}}
<hr>
	<nav><a href="/">首页</a> <a href="/aticle">文章</a> <a href="/photo">图片</a> <a href="/video">视频</a></nav>
		

	</header>
    {{{body}}}

	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</body>
</html>
