<div class="container">
    <div class="row">
        <div class="col-md-11 col-center">
            <div style="font-size: 50px; margin: 80px 0 30px 0;">图文故事</div>
            <div class="storyList">
                {{#each aticles}}
                <div class="storyItem">
                    <div style="font-size: 20px;padding-bottom: 10px"><a style="color:#000;" href="/a/{{_id}}">{{title}}</a></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="http://img.fengimage.com/FrxdApvta4GKa77KjTqIF-xl2ZMk" width="100%">
                        </div>
                        <div class="col-xs-8">
                            <div style="font-size: 16px; margin-bottom: 5px;">
                                {{{content}}}
                            </div>
                            <a href="/a/{{_id}}" style="padding:1px 3px;border-radius: 1px;background-color:#000000; font-size: 12px;color: #ffffff;">阅读更多>></a>
                            <div style="font-size: 14px;margin-top: 5px;">王磊 <span style="color: #D3D3D3">/</span>
                                {{update_at}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>


            <div class="panel-footer" id="Jnext">

                <span><a  class="prepage" title="上一页" href="/aticle?{{prev}}">上一页</a></span>
                <span ><a class="nextpage" title="上一页" href="/aticle?{{next}}">下一页</a></span>
                共计{{count}}条


            </div>

            </div>
    </div>
</div>
