<div class="container">
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-center">
            <div style="font-size: 30px; margin: 80px 0 30px 0;">图文故事</div>
            <div class="storyList">
                {{#each aticles}}
                <div class="storyItem">
               
                    <div class="row">
                      
                        <div class="col-xs-8 col-md-10">
                           <p class="list-top">
        <a href="/users/83f33485a278" target="_blank" class="author-name blue-link">{{author}}</a>
        <em>·</em>
        <span data-shared-at="2016-06-26T08:01:51+08:00" class="time">{{update_at}} </span>
      </p>
                             <h2><a class="title" href="/a/{{_id}}">{{title}}</a></h2>
                            
                            <p>{{des}} 
                                
                            </p>
                        </div>
                          <div class="col-xs-4 col-md-2">
                            <img src="{{thumb}}?imageView2/1/w/150/h/150" width="100%" class="img-rounded" >
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>


            <div class="panel-footer" id="Jnext">

                <span><a  class="prepage" title="上一页" href="/aticle?{{prev}}">上一页</a></span>
                <span ><a class="nextpage" title="上一页" href="/aticle?{{next}}">下一页</a></span>
                共计{{count}}条


            </div>

            </div>
    </div>
</div>
