<div class="container">
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-center">
            <div style="font-size: 30px; margin: 80px 0 30px 0;">图文故事</div>
            <div class="storyList">
                {{#each aticles}}
                <div class="storyItem">
               
                    <div class="row">
                      
                        <div class="col-xs-8 col-md-10">
                           <p class="list-top">
        <a href="/userspace/{{author._id}}" target="_blank" class="author-name blue-link">{{author.nickname}}</a>
        
        <span data-shared-at="{{update_at}}" class="time">发表于 {{update_at}} </span>
      </p>
                             <h2><a class="title" href="/a/{{_id}}">{{title}}</a></h2>
                            
                            <p>{{des}} 
                                
                            </p>
<!--                             <p><a href="">删除</a> <a href="">编辑</a></p>
 -->                        </div>
                          <div class="col-xs-4 col-md-2">
                            <img src="{{thumb}}?imageView2/1/w/150/h/150" width="100%" class="img-rounded" >
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>


            <div class="panel-footer" id="Jnext">

<nav>
  <ul class="pager">
    <li class="previous"><a href="/aticle?{{prev}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
    <li>共计{{count}}条</li>
    <li class="next"><a href="/aticle?{{next}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>



       


            </div>

            </div>
    </div>
</div>
