{{#extend "title"}}
{{photo.title}} 
{{/extend}}

{{#extend "stylesheets"}}
    <link rel="stylesheet" type="text/css" href="/vendor/ilightbox/ilightbox.css">
    <link rel="stylesheet" type="text/css" href="/vendor/ilightbox/skin.css">
    <link rel="stylesheet" href="/css/photo-detail.css">
    <link rel="stylesheet" href="/css/reward.css">
    <link rel="stylesheet" type="text/css" href="/vendor/sweetalert/sweetalert.css">

    <script>
        var PAGECONFIG = {
            photoId: '{{photo.id}}',
            authorId: '{{photo.author_id}}',
            money: (Number({{loginUser.money}}) || 0) / 100,
            isLogin: !!'{{loginUser.id}}'
        }
    </script>

{{/extend}}


<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-12">
                      <div class="photo-header">

                <div class="user-icon"><a href="/userspace/{{author.id}}"><img
                        src="{{author.avatar}}?imageView2/1/w/50/" alt="{{author.nickname}}"></a></div>
                <div class="photo-base-info">
                    <h1>{{photo.title}} 
                    {{#if authorIsSelf}}

                    <small><a href="/photo/{{photo.id}}/edit">编辑</a></small>
                    <small><a id="delphoto" href="javascript:void(0)">删除</a></small>

                    {{/if}}
                    </h1>
                    <div class="photo-mark">
                        <label>浏览{{photo.browse_cnt}}</label>
                        <!--<label>喜欢{{photo.like_cnt}}</label>-->
                        <label>数量{{photo.pictures.length}}</label>
                        <label>更新{{photo.update_at}}</label>
                    </div>
                    <div class="photo-author">
                        <b style="vertical-align: -2px;">&copy;</b> <a
                            href="/userspace/{{author.id}}">{{author.nickname}}</a>
                        
                        
                    </div>

   
                </div>

                   <!--关注按钮-->
                    {{#if authorIsNotSelf}}
                     <div class="pull-left action_btn">
                            {{#if isFollow}}
                                <label class="button  button-tiny button-small btn-follow" id="unfollow"
                                       data-type="1">✔ 已关注</label>
                                <label style="display: none;"
                                       class="button  button-primary button-small btn-follow" id="follow"
                                       data-type="2"><span class="glyphicon glyphicon-plus"></span> 关注</label>
                            {{else}}
                                <label style="display: none;"
                                       class="button  button-tiny button-small btn-follow" id="unfollow"
                                       data-type="1">✔ 已关注</label>
                                <label class="button  button-primary button-small btn-follow" id="follow"
                                       data-type="2"><span class="glyphicon glyphicon-plus"></span> 关注</label>
                            {{/if}}
                    <label class="button  button-caution button-small j-btn-reward"><span class="glyphicon glyphicon-gift"></span> 打赏</label>

                    </div>
                        {{/if}}
                <!--关注按钮-->

                


                    {{#if rewardUsers}}
                        <div class="reward-list">
                            <span>已打赏人员:</span>
                            {{#each rewardUsers}}
                                <a href="/userspace/{{_id}}"><img src="{{avatar}}"></a>
                            {{/each}}
                        </div>
                    {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">

            <div class="photo-discrib">
                {{discrib}}
            </div>

            <section class="photo-details-section">
                <div id="photos" class="photo">
                    {{#each photo.pictures}}
                        <div class="main-area">
                            <a class="j-img-link" href="http://img.fengimage.com/{{this}}" data-type="image">
                                <img class="tobeview lazy"
                                     data-original="http://img.fengimage.com/{{this}}?imageView2/1/"
                                     src='/img/loading.gif'
                                     alt="{{photo.title}} "/>
                            </a>
                            <div class="img-desc">
                                P{{add @index 1}}
                                <a href="#comment" class="btn btnWhiteSmoke">评论</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
 

        </div>
        <div class="col-lg-3  col-md-3  col-sm-12">
                       <!-- 评论 -->
<div class="m-comment" id="comment">
            <div class="panel">
  <div class="panel-heading">用户评论 <small>(<span id="comment-count"></span>条评论)</small></div>
  <div class="panel-body">
    <textarea id="commentContent" class="form-control" rows="2"  placeholder="您的评论是对作者最大的鼓励..."></textarea>
                    <br>
                    <button class="btn btn-success btn-sm" id="submit-comment">发表评论</button>
    <div class="m-comment-list">

                </div>
  </div>
</div>

                </div>
<!--                 <div class="load-comment-more">加载更多</div>-->           
 </div>
            <!-- 评论 -->
<br style="clear:both" />
<br>
        </div>
    </div>
</div>

<!-- 模版 -->
<script type="text/template" id="template1">
    <div class="g-layer-wrap">
        <div class="g-layer-box">
            <span class="u-close"><i class="glyphicon glyphicon-remove"></i></span>
            <h1>作品打赏</h1>
            <ul class="money-list">
                <li class="active" data-money="2">¥ 2.00</li>
                <li data-money="5">¥ 5.00</li>
                <li data-money="10">¥ 10.00</li>
                <li data-money="25">¥ 25.00</li>
                <li data-money="50">¥ 50.00</li>
                <li data-money="100">¥ 100.00</li>
            </ul>
            <div class="u-money">
                <label>其他金额&nbsp;:&nbsp;</label>
                <input type="text" id="money" style="display: none;" placeholder="单位元"></div>
            <div class="u-pay-type">
                <h2>支付方式</h2>
                <ul>
                    <li>
                        <label>
                            <input name="pay-type" value="1" type="radio"></label>个人钱包&nbsp;</li>
                    <li>
                        <label>
                            <input name="pay-type" value="2" type="radio"></label>微信&nbsp;</li>
                    <li>
                        <label>
                            <input name="pay-type" value="3" type="radio"></label>支付宝&nbsp;</li>
                </ul>
            </div>
            <div class="g-layer-footer">
                <button class="u-btn j-reward">下一步</button>
            </div>
            <div class="u-mark">
                <small>注 : 账户余额(<span id="account-money">0</span>元)</small>
            </div>
            <div class="u-err-msg"></div>
        </div>
    </div>
</script>
<script type="text/template" id="template2">
    <div class="g-layer-wrap">
        <div class="g-layer-box g-layer-personal">
            <span class="u-close">X</span>
            <h1>个人钱包</h1>
            <div class="u-money">
                <label>支付金额 : ¥
                    <span class="u-money-amount">0.0</span></label>
            </div>
            <div class="u-pay-pwd">
                <label>支付密码 :</label>
                <input type="password" placeholder="登录密码"></div>
            <div class="g-layer-footer">
                <button class="u-btn j-reward-pay">确定支付</button>
            </div>
            <div class="u-err-msg"></div>
        </div>
    </div>
</script>
<script type="text/template" id="template3">
    <div class="g-layer-wrap">
        <div class="g-layer-box g-layer-weixin">
            <span class="u-close">X</span>
            <h1>微信支付</h1>
            <div class="u-money">
                <label>支付金额 : ¥
                    <span class="u-money-amount">0.0</span></label>
            </div>
            <img class="u-wxcode" src="" alt="微信扫码支付">
            <div class="u-mark weixin">
                <small>注 : 微信扫码支付</small>
            </div>
        </div>
    </div>
</script>

{{#extend "customerScript"}}

    <script src="/vendor/handlebars/handlebars.runtime-v4.0.5.js"></script>
    <script src="/tpl/comment_list.hbs.js"></script>
    <script src="/vendor/ilightbox/js/jquery.mousewheel.js"></script>
    <script src="/vendor/ilightbox/js/ilightbox.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/reward.js"></script>
    <script src="/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>

    <script>

        var clientHeight = document.documentElement.clientHeight;

        //大屏显示图片
        $('#photos .j-img-link').iLightBox();

        $(function () {
            //图片懒加载
            $("img.lazy").lazyload().each(function () {
                this.style.maxHeight = clientHeight + 'px';
            });
        });

        //关注取消关注
        var _$follow = $('#follow');
        var _$unfollow = $('#unfollow');
        _$follow.click(function () {
            var author_id = '{{author._id}}';
            $.post('/api/v1/follow', {author_id: author_id}, function (data) {
                if (data.errorno === 0) {
                    _$unfollow.show();
                    _$follow.hide();
                } else if (data.errorno == -1) {
                    swal('请先登录');
                }

            });
        });
        _$unfollow.click(function () {
            var author_id = '{{author._id}}';
            $.post('/api/v1/unfollow', {author_id: author_id}, function (data) {
                if (data.errorno === 0) {
                    _$unfollow.hide();
                    _$follow.show();
                } else if (data.errorno == -1) {
                    swal('请先登录');
                }
            });
        });

        //delphoto

        function delPhoto(){ 
            swal({   title: "确定要删除吗？",   text: "删除后无法恢复",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   confirmButtonText: "是的, 删除",   closeOnConfirm: false }, 
                function(){   

                    $.post('/api/v1/delPhoto',{id:PAGECONFIG.photoId},function(res){
                        if(res.errorno===0){
                             swal("删除成功", "", "success");
                        }

                    })


                });

        }

        $('#delphoto').on('click',delPhoto)

    </script>
{{/extend}}