<link rel="stylesheet" href="css/list.min.css"/>
<div class="container">
<ul class="subNav">
  <li role="presentation" class="active"><a href="?category=all">全部</a></li>

{{#each category}}
  <li role="presentation" ><a href="?category={{name}}">{{text}}</a></li>
{{/each}}
</ul>

</div>

<div class="container">

<div class="list-group">
  {{#each photos}}
 <div class="list-group-item ">
    <h4 class="list-group-item-heading">{{title}} </h4>
    <p class="list-group-item-text">{{discrib}}</p>
        <a href="/photo/{{_id}}" > <p class="list-group-item-text">
       {{#each pictures}}
 <img src="{{this}}?imageView2/1/w/300/h/300" alt="">
  {{/each}}
  </a>
        </p>

  </a>
  <br>
  <button class="btn btn-sm delphoto" onclick="delphoto('{{_id}}')">删除 </button>
 </div>
  {{/each}}

   
</div>
</div>


<span class="prepage"><a title="上一页" href="?{{prev}}">上一页</a></span>
<span class="prepage"><a title="上一页" href="?{{next}}">下一页</a></span>
共计{{count}}条


<script>

function delphoto(_id){

  alert(_id)

    // $.getJSON('/api/v1/aticles',{id:_id},function(data){

    //    console.log(data)

    //   })


}



$('.delphoto').on('click',delphoto)

</script>
