<!-- 
<link rel="stylesheet" href="http://r.ph.126.net/share/css/gen/shareSetPage.css?v=12291627">

<link rel="stylesheet" href="http://r.ph.126.net/share/css/gen/sharePageCommon.css?v=12291627">

 -->
 <link rel="stylesheet" type="text/css" href="/vendor/sweetalert/sweetalert.css">

 <script src="/vendor/sweetalert/sweetalert.min.js"></script> 
<script>
  var PAGECONFIG={
      PHOTOID:'{{photo.id}}'
  }
</script>

<style>
  .g-mainwraper {
    letter-spacing: -4px;
    margin: 0 auto;
    width: 100%;
    word-spacing: -0.43em;
}
</style>

<div class="container">
<ol class="breadcrumb">
        <li><a href="/">主页</a><span class="divider"></span></li>
        <li><a href="/">图集</a><span class="divider"></span></li>

        <li class="active">详情</li>
        
      </ol>


      <div class="g-mainwraper g-mainwraper-hostinfo ">
  <ul class="m-lineBox m-lineBox-userinfo">
    <li id="J-host-face" class="o-box o-box-face">
      <a title="进入lihefa_0509@126的个人展区" hidefocus="true" href="http://lhf19520601.pp.163.com/">
        <img width="100" <!-- onerror="this.src='http://r.ph.126.net/image/default/duser140.png'" --> src="http://img1.ph.126.net/ShvdMLUS_kdyXgz-n0OJkg==/3294946077475288060.jpg" alt="进入lihefa_0509@126的个人展区">
      </a>
    </li>
    <li class="o-box o-box-userinfo">
      <h2 id="p_username_copy" class="picset-title">
       {{photo.title}} 
      </h2>
      <p class="picset-count">
        <b class="f-lineBlock">[16张]</b>
      </p>
      <p id="J-picset-attention" class="picset-cmtnum">
        <b title="浏览量" class="w-ico-attention">点击数</b> <span id="J-picset-viewcount">2328</span>
        <b title="评论" class="w-ico-cmt f-ml20">评论数</b> <span id="J-picset-cmtcount">164</span>
        <b title="喜欢" class="w-ico-like f-ml20">喜欢数</b> <span id="J-picset-likecount">80</span>
      </p>
      <p class="picset-author">
        <b style="vertical-align: -2px;">&copy;</b> <a style="vertical-align: -2px;" title="进入lihefa_0509@126的小屋" href="http://lhf19520601.pp.163.com/">lihefa_0509@126</a>
        <span style="vertical-align: middle;" class="author-unfollow">
          <a id="J-go-attention" data-needlogin="true" class="w-btnDeepSkyBlue J-go-attention f-ml15" hidefocus="true" onclick="return false;" href="#"><b class="btn-plus">+</b> 关注他</a>
          <a class="w-btnDeepSkyBlueDisabled f-ml15" hidefocus="true" onclick="return false;" href="#"><b class="btn-plus">√</b> 已关注</a>
          <a data-needlogin="true" id="J-go-unfollow" onclick="return false;" hidefocus="true" class="J-go-unfollow act-unfollow" href="#">取消关注</a>
        </span>
        <a id="J-go-praise" data-needlogin="true" style="vertical-align: middle;" class="w-btnWhiteSmoke f-ml5" hidefocus="true" onclick="return false;" href="#">赞他(2159)</a>


      </p>

    </li>
  </ul>
</div>

  <p align="center" ><i>浏览：1152次</i><i>时间：{{photo.update_at}} </i>已有<i class="red">183</i>人购买</p>

<!--未购买-->
<div class="row">
<div class="col-lg-8">  {{#each photo.pictures}}
 <img src="{{this}}?imageView2/1/w/1180/" alt="{{photo.title}} ">
  {{/each}}</div>
<div class="col-lg-4"> <button class="btn btn-danger btn-buy">  {{photo.price}}  购买</button>
</div>
</div>




  


  </div>

</div>


</div>


<script>

   var postdata={
    photoId:PAGECONFIG.PHOTOID
   }

  $.post('/api/v1/checkIsBuy',postdata,function (data) {
    console.log(data)
    $('.btn-buy').addClass('btn-success').text('已购买').attr('disabled',true)
  })
$('.btn-buy').on('click',function(){


  // $(this).attr('disabled',true).text('loading..')


  $.post('/api/v1/buyPhoto',postdata,function (data) {

          if(data.errorno==-1){
            swal({   title: data.msg,     type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   
              confirmButtonText: "立即登陆",   
              cancelButtonText: "下次再说",   
              closeOnConfirm: false }, function(){  
                location.href="/login" 
              });
          }
          else if(data.errorno==-2){

            swal({   title: data.msg,     type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   
              confirmButtonText: "立即充值",   
              cancelButtonText: "下次再说",   
              closeOnConfirm: false }, function(){  
                location.href="/score" 
              });

          }

          else if(data.errorno==-3){

            alert(data.msg);
           
          }
          else if(data.errorno==0){

              swal({ title: data.msg,     type: "success",   showCancelButton: false,   confirmButtonColor: "#DD6B55",   
              confirmButtonText: "确定",   
              closeOnConfirm: false }, function(){  
                location.href=location.href
              });

          }
  
      })
  


})


</script>