{{#extend "stylesheets"}}

    <link rel="stylesheet" type="text/css" href="/vendor/ilightbox/ilightbox.css">
    <link rel="stylesheet" type="text/css" href="/vendor/ilightbox/skin.css">
    <link rel="stylesheet" href="/css/photo-detail.css">
    <link rel="stylesheet" href="/css/reward.css">

    <script>
        var PAGECONFIG = {
            photoId: '{{photo.id}}',
            authorId: '{{photo.author_id}}',
            money: (Number({{loginUser.money}}) || 0) / 100,
            isLogin: !!'{{loginUser.id}}'
        }
    </script>

{{/extend}}


<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-center">
            <div class="photo-header">
                <div class="user-icon"><a href="/userspace/{{author.id}}"><img
                        src="{{author.avatar}}?imageView2/1/w/50/" alt="{{author.nickname}}"></a></div>
                <div class="photo-base-info">
                    <h1>{{photo.title}}</h1>
                    <div class="photo-mark">
                        <label>浏览{{photo.browse_cnt}}</label>
                        <!--<label>喜欢{{photo.like_cnt}}</label>-->
                        <label>更新{{photo.update_at}}</label>
                    </div>
                    <div class="photo-author">
                    <b style="vertical-align: -2px;">&copy;</b>    <a href="/userspace/{{author.id}}">{{author.nickname}}</a>
                        {{#if authorIsNotSelf}}

                            {{#if isFollow}}
                                <label class="button button-rounded button-primary btn-follow" id="follow" data-type="1">✔ 已关注</label>
                            {{else}}
                                <label class="button button-rounded button-primary btn-follow" id="follow" data-type="2">+ 关注</label>
                            {{/if}}

                        {{/if}}
                        <label class="button button-rounded button-caution ">打赏</label>
                        <label class="btn btn-danger j-btn-reward">打赏</label>
                    </div>
                </div>
            </div>
            <section class="photo-details-section">
                <div id="photos" class="photo">
                    {{#each photo.pictures}}
                        <a href="http://img.fengimage.com/{{this}}" data-type="image">
                            <img class="tobeview" src="http://img.fengimage.com/{{this}}?imageView2/1/"
                                 alt="{{photo.title}} "/>
                        </a>
                    {{/each}}
                </div>
            </section>
            <!-- 评论 -->
            <div class="m-comment">
                <h2>用户评论 (<span id="comment-count"></span>条评论)
                </h2>
                <textarea id="commentContent"></textarea>
                <div style="text-align: right">
                    <button class="btn" id="submit-comment">提交评论</button>
                </div>
                <div class="m-comment-list">

                </div>
                <div class="load-comment-more">加载更多</div>
            </div>
        </div>
    </div>
</div>

<!-- 模版 -->
<script type="text/template" id="template1">
    <div class="g-layer-wrap">
        <div class="g-layer-box">
            <span class="u-close">X</span>
            <h1>作品打赏</h1>
            <ul class="money-list">
                <li class="active" data-money="1">¥ 1.00</li>
                <li data-money="5">¥ 5.00</li>
                <li data-money="10">¥ 10.00</li>
                <li data-money="25">¥ 25.00</li>
                <li data-money="50">¥ 50.00</li>
                <li data-money="100">¥ 100.00</li>
            </ul>
            <div class="u-money">
                <label>其他金额&nbsp;:&nbsp;</label>
                <input type="text" id="money" style="display: none;" placeholder="单位元"></div>
            <div class="u-pay-type">
                <h2>支付方式</h2>
                <ul>
                    <li>
                        <label>个人钱包&nbsp;
                            <input name="pay-type" value="1" type="radio"></label></li>
                    <li>
                        <label>微信&nbsp;
                            <input name="pay-type" value="2" type="radio"></label></li>
                    <li>
                        <label>支付宝&nbsp;
                            <input name="pay-type" value="3" type="radio"></label></li>
                </ul>
            </div>
            <div class="g-layer-footer">
                <button class="u-btn j-reward">下一步</button>
            </div>
            <div class="u-mark">
                <small>注 : 账户余额(<span id="account-money">0</span>元)</small>
            </div>
            <div class="u-err-msg"></div>
        </div>
    </div>
</script>
<script type="text/template" id="template2">
    <div class="g-layer-wrap">
        <div class="g-layer-box g-layer-personal">
            <span class="u-close">X</span>
            <h1>个人钱包</h1>
            <div class="u-money">
                <label>支付金额 : ¥
                    <span class="u-money-amount">0.0</span></label>
            </div>
            <div class="u-pay-pwd">
                <label>支付密码 :</label>
                <input type="password" placeholder="登录密码"></div>
            <div class="g-layer-footer">
                <button class="u-btn j-reward-pay">确定支付</button>
            </div>
            <div class="u-err-msg"></div>
        </div>
    </div>
</script>
<script type="text/template" id="template3">
    <div class="g-layer-wrap">
        <div class="g-layer-box">
            <span class="u-close">X</span>
            <h1>微信支付</h1>
            <div class="u-money">
                <label>支付金额 : ¥
                    <span class="u-money-amount">0.0</span></label>
            </div>
            <img class="u-wxcode" src="" alt="微信扫码支付">
            <div class="u-mark">
                <small>注 : 微信扫码支付</small></div>
        </div>
    </div>
</script>

{{#extend "customerScript"}}

    <script src="/vendor/handlebars/handlebars.runtime-v4.0.5.js"></script>
    <script src="/tpl/comment_list.hbs.js"></script>
    <script src="/vendor/ilightbox/js/jquery.mousewheel.js"></script>
    <script src="/vendor/ilightbox/js/ilightbox.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/reward.js"></script>


    <script>

        //大屏显示图片
        $('#photos a').iLightBox();


        //关注取消关注
        $('#follow').on('click', function () {
            var author_id = '{{author._id}}';
            var $btn = $(this);

            if ($btn.data('type') == 1) {//已经关注

                $.post('/api/v1/unfollow', {author_id: author_id}, function (data) {

                    if (data.errorno === 0) {
                        $btn.text('+ 关注');
                    } else if (data.errorno == -1) {
                        alert('先登录');
                    }
                });

            } else {

                $.post('/api/v1/follow', {author_id: author_id}, function (data) {

                    if (data.errorno === 0) {
                        $btn.text('✔ 已关注');
                    } else if (data.errorno == -1) {
                        alert('先登录')
                    }

                });

            }


        });


    </script>
{{/extend}}