{{#extend "stylesheets"}}

<link rel="stylesheet" type="text/css" href="/vendor/sweetalert/sweetalert.css">
<script>
var PAGECONFIG = {
    photoId: '{{photo.id}}',
    authorId: '{{photo.author_id}}'
}
</script>
<style>
.g-mainwraper {
    letter-spacing: -4px;
    margin: 0 auto;
    width: 100%;
    word-spacing: -0.43em;
}

.darkbg {
    background: #111
}

.price {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: #d6d6d6;
    vertical-align: middle;
}

.photo-header {
    background: #222;
    padding: 10px 20px;
    color: #ccc;
    margin-top: 20px;
}

.photo-header h1 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.photo-actions-section {
    background: #222;
    padding: 10px 20px;
    margin-top: 20px;
    color: #777
}

#author {
    overflow: hidden;
    zoom: 1;
    padding: 20px 0;
}

#author .headpic {
    float: left;
    width: 50px;
    height: 50px;
}

#author .headpic img {
    border-radius: 100%;
}

#author .title {
    margin-left: 60px;
    font-size: 14px;
}

#author>.clearfix>.flow {
    margin-left: 60px;
    text-align: left;
}

#author .btn {
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#comment {
    padding-top: 20px;
    font-size: 14px !important;
}
#comment .info {
  white-space: normal;
  word-break:break-all;
}
#comment .info strong{
  font-weight: bold;
  padding-right: 5px;
  color:#999;
}
#comment .date{
  padding-top: 5px;
  color:#666;
  font-size: 11px;
}

#commentBtn{
    cursor:pointer;
}

textarea{
  overflow: hidden;
}
</style>

{{/extend}}


<div class="darkbg">
    <div class="container">
        <!-- <ol class="breadcrumb">
        <li><a href="/">主页</a><span class="divider"></span></li>
        <li><a href="/">图集</a><span class="divider"></span></li>

        <li class="active">详情</li>
        
      </ol> -->
        <!---->
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <section class="photo-details-section">
                        <div class="photo-header clearfix">
                            <h1 class="pull-left">{{photo.title}}</h1>
                            <p class="pull-right" id="J-picset-attention" class="picset-cmtnum">


                                <b title="浏览量" class="w-ico-attention">浏览数</b> <span id="J-picset-viewcount">2328</span>
                                <b title="评论" class="w-ico-cmt f-ml20">评论数</b> <span id="J-picset-cmtcount">164</span>
                                <b title="喜欢" class="w-ico-like f-ml20">喜欢数</b> <span id="J-picset-likecount">80</span>
                                 <b title="更新日期" class="w-ico-like f-ml20">更新日期</b> <span id="J-picset-likecount">{{photo.update_at}}</span>


                                 
                            </p>
                        </div>
                        <div class="photo">
                            {{#if photo.price}}

                                    {{#if isBuy }}

                                        {{#each photo.pictures}}
                                        <a href="{{this}}"><img width="100%" class="tobeview" src="{{this}}?imageView2/1/" alt="{{photo.title}} "/></a>
                                         
                                        {{/each}} 

                                    {{else}}
                                        <img width="100%" src="{{photo.pictures.[0]}}?imageView2/1/w/1180/" alt="{{photo.title}} ">
                                        <h3>全部照片预览</h3> 
                                        {{#each photo.pictures}}
                                        <img width="16.666666666666666666%" src="{{this}}?imageView2/1/w/200/" alt="{{photo.title}} "> 
                                        {{/each}} 

                                     {{/if}}
                            {{/if}}
                        </div>
                    </section>

<!--打赏作者-->
<div class="support-author">
          <p>最爱我的人是你，我将一直努力(●'◡'●)ﾉ♥ </p>
            <a href="#pay-modal" data-toggle="modal" class="btn btn-pay">¥ 打赏支持</a>
          <div class="avatar-list"></div>
        </div>
<!--打赏作者-->

                </div>
                <div class="col-md-3">
                    <div class="photo-actions-section">
                    <h4>作品简介</h4>

                        <div>{{photo.discrib}} [{{photo.pictures.length}}张]</div>
                        <div class="cart-actions not-in-cart">
                            {{#if photo.price}}
                            <div class="price"> 售价：￥{{photo.price}}</div>

                            {{#if authorIsNotSelf}}

                            {{#if isBuy }}
                             <button class="btn-buy btn btn-success btn-block btn-lg" disabled="disabled">
                                已购买
                            </button>
                            

                            {{else}}
                           <button class="btn-buy btn btn-primary btn-block btn-lg">
                                立即购买
                            </button>

                            {{/if}}
                              {{/if}}
                            <br>
                            <p>已有<i class="red">{{photo.trade_cnt}}</i>人购买</p>
                            {{/if}}
                            <h4>作者信息</h4>

                            <div id="author">
                            <div class="clearfix">
<div class="headpic"><img width="50" src="{{author.avatar}}?imageView2/1/w/50/"></div>
<div class="title"><a href="/space/{{user.id}}">{{author.nickname}}</a></div>

{{#if authorIsNotSelf}}

{{#if isFollow}}
 <div class="flow"> <button id="{{author._id}}" title="点击取消关注" action-type="unfollow" type="button" class="btn btn-default btn-mn unflowbtn">✔ 已关注</button></div>
{{else}}
 <div class="flow"> <button id="{{author._id}}" title="点击关注" action-type="follow"  type="button" class="btn btn-primary btn-mn flowbtn"> + 关注</button></div>
{{/if}}

{{/if}}
</div>


                            </div>
                            <h4>评论</h4>

                            <div >
                                <div class="media">
                                    <div class="media-left media-top">
                                        <img width="30" height="30" src="

                                        {{#if user}}
                                            {{user.avatar}}?imageView2/1/w/30/
                                        {{else}}

                                        {{default_avatar}}

                                        {{/if}}
                                        " />

                                        
                                    </div>
                                    <div class="media-body">
                                  <div style="padding-bottom: 10px;">
                                    <textarea row="2" autoHeight="true" id="commentContent" class="form-control" type="text" name="content"></textarea>
                                            
                                        </div>
                                        <button class="btn btn-sm" id="commentBtn">评论</button>
                                      
                                    </div>
                                </div>
                                <div id="comment">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!--未购买-->
        </div>
    </div>
</div>
</div>

{{#extend "customerScript"}}

<script src="/vendor/sweetalert/sweetalert.min.js"></script>
<script src="/vendor/handlebars/handlebars.runtime-v4.0.5.js"></script>
<script src="/tpl/comment_list.hbs.js"></script>
<script>



var postdata = {
    photoId: PAGECONFIG.photoId
}

//评论
var getCommentList=function(){

$.get('/comment/page',{belongId:postdata.photoId},function(json){

  if(json.errorno==0){
        var html=Handlebars.templates.comment_list(json.data);
        $('#comment').html(html)
  }

})
}

getCommentList()


function commentAdd(btn){


  var commentContent=$('#commentContent').val();

  if(commentContent=='' || commentContent.length>200){
    return
  }
    $(btn).text('提交中...')

  $.post('/comment/add',{ 
    replyId:'', //回复人ID (对某个人回复对应的这个人ID,可省略)
    belongId:postdata.photoId, //评论所属ID（图集的ID）
    content:commentContent //回复内容},function(data){
},function(data){
         if (data.errorno == -2) {
            swal({
                title: '请先登录',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "登录",
                cancelButtonText: "取消",
                closeOnConfirm: false
            }, function() {
                location.href = "/login"
            });
          $(btn).text('评论')

        }
        else if(data.errorno==0){
          $('#commentContent').val('');
          $(btn).text('评论')
          getCommentList()


          
        }
})
}

$('#commentBtn').on('click',function(){
    commentAdd(this)
})


    $.fn.autoHeight = function(){
      
      function autoHeight(elem){
        var len=elem.value.length;
        if(len>200){
          return elem.value=elem.value.substring(0,200)
        }
        elem.style.height = '22px';
        elem.scrollTop = 0; //防抖动
        elem.style.height = elem.scrollHeight + 'px';
      }
      
      this.each(function(){
        autoHeight(this);
        $(this).on('keyup', function(){
          autoHeight(this);
        });
      });
     
    }
      
      
    $('textarea[autoHeight]').autoHeight();



// $.post('/api/v1/getUserInfoById', {
//     id: PAGECONFIG.authorId
// }, function(json) {



//     var html = Handlebars.templates.author(json.data);
//     $('#author').html(html);

// })

// $.post('/api/v1/checkIsBuy', postdata, function(data) {
//     if (data.errorno === 0) {
//         $('.btn-buy').addClass('btn-success').text('已购买').attr('disabled', true)
//     }
// })


$('.btn-buy').on('click', function() {


    // $(this).attr('disabled',true).text('loading..')

    $.post('/api/v1/buyPhoto', postdata, function(data) {

        if (data.errorno == -1) {
            swal({
                title: data.msg,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "立即登陆",
                cancelButtonText: "下次再说",
                closeOnConfirm: false
            }, function() {
                location.href = "/login"
            });
        } else if (data.errorno == -2) {

            swal({
                title: data.msg,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "立即充值",
                cancelButtonText: "下次再说",
                closeOnConfirm: false
            }, function() {
                location.href = "/score"
            });

        } else if (data.errorno == -3) {

            alert(data.msg);

        } else if (data.errorno == 0) {

            swal({
                title: data.msg,
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            }, function() {
                location.href = location.href
            });

        }

    })

})

//关注取消关注

$('.flowbtn').on('click',function(){
        console.log('ffff')
    var author_id=$(this).attr('id');
    var $btn=$(this);

    $.post('/api/v1/follow',{author_id:author_id},function(data){

        console.log(data);

        if(data.errorno===0){

            $btn.text('✔ 已关注')

        }


    })



})


$('.unflowbtn').on('click',function(){

    var author_id=$(this).attr('id');

    $.post('/api/v1/unfollow',{author_id:author_id},function(data){


    })



})

</script>
{{/extend}}