{{#extend "stylesheets"}}

<link rel="stylesheet" type="text/css" href="/vendor/sweetalert/sweetalert.css">
<script>
var PAGECONFIG = {
    photoId: '{{photo.id}}',
    authorId: '{{photo.author_id}}'
}
</script>
<style>
.g-mainwraper {
    letter-spacing: -4px;
    margin: 0 auto;
    width: 100%;
    word-spacing: -0.43em;
}

.darkbg {
    background: #111
}

.price {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: #d6d6d6;
    vertical-align: middle;
}

.photo-header {
    background: #222;
    padding: 10px 20px;
    color: #ccc;
    margin-top: 20px;
}

.photo-header h1 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.photo-actions-section {
    background: #222;
    padding: 10px 20px;
    margin-top: 20px;
    color: #777
}

#author {
    overflow: hidden;
    zoom: 1;
    padding: 20px 0;
}

#author .headpic {
    float: left;
    width: 50px;
    height: 50px;
}

#author .headpic img {
    border-radius: 100%;
}

#author .title {
    margin-left: 60px;
    font-size: 14px;
}

#author>.clearfix>.flow {
    margin-left: 60px;
    text-align: left;
}

#author .btn {
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#comment {
    padding-top: 20px;
    font-size: 14px !important;
}
#comment .info {
  white-space: normal;
  word-break:break-all;
}
#comment .info strong{
  font-weight: bold;
  padding-right: 5px;
  color:#999;
}
#comment .date{
  padding-top: 5px;
  color:#666;
  font-size: 11px;
}

#commentBtn{
    cursor:pointer;
}

textarea{
  overflow: hidden;
}
</style>

{{/extend}}


<div class="darkbg">
    <div class="container">
        <!-- <ol class="breadcrumb">
        <li><a href="/">主页</a><span class="divider"></span></li>
        <li><a href="/">图集</a><span class="divider"></span></li>

        <li class="active">详情</li>
        
      </ol> -->
        <!---->
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <section class="photo-details-section">
                        <div class="photo-header clearfix">
                            <h1 class="pull-left">{{photo.title}}</h1>
                            <p class="pull-right" id="J-picset-attention" class="picset-cmtnum">


                                <b title="浏览量" class="w-ico-attention">浏览数</b> <span id="J-picset-viewcount">2328</span>
                                <b title="评论" class="w-ico-cmt f-ml20">评论数</b> <span id="J-picset-cmtcount">164</span>
                                <b title="喜欢" class="w-ico-like f-ml20">喜欢数</b> <span id="J-picset-likecount">80</span>
                                 <b title="更新日期" class="w-ico-like f-ml20">更新日期</b> <span id="J-picset-likecount">{{photo.update_at}}</span>


                                 
                            </p>
                        </div>
                        <div class="photo">
                            {{#if photo.price}}

                                    {{#if isBuy }}

                                        {{#each photo.pictures}}
                                        <a href="{{this}}"><img width="100%" class="tobeview" src="{{this}}?imageView2/1/" alt="{{photo.title}} "/></a>
                                         
                                        {{/each}} 

                                    {{else}}
                                        <img width="100%" src="{{photo.pictures.[0]}}?imageView2/1/w/1180/" alt="{{photo.title}} ">
                                        <h3>全部照片预览</h3> 
                                        {{#each photo.pictures}}
                                        <img width="16.666666666666666666%" src="{{this}}?imageView2/1/w/200/" alt="{{photo.title}} "> 
                                        {{/each}} 

                                     {{/if}}
                            {{/if}}
                        </div>
                    </section>

<!--打赏作者-->


<style>
    .support-author {
    background-color: whitesmoke;
    border-left: 4px solid #f57e42;
    box-shadow: 0 0 1px #d9d9d9;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 25px;
}
.support-author .btn-pay {
    margin: 10px 15px 10px 0;
}
.support-author span {
    margin-right: 10px;
    vertical-align: middle;
}
.support-author span a {
    color: #f57e42;
    font-weight: bold;
    margin: 0 5px;
}
.support-author p {
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto 10px;
}
.support-author .avatar-list {
    display: inline-block;
}
.support-author .avatar {
    border: 1px solid #d9d9d9;
    display: inline-block;
    height: 30px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.support-author .avatar img {
    border: medium none;
}
.support-author .avatar .fa {
    line-height: 30px;
}
.support-author .payment-list {
    font-size: 14px;
}
</style>

<div class="support-author">
          <p>支持<a href="/space/{{user.id}}">{{author.nickname}}</a> ~打赏 1.66</p>
            <a href="#pay-modal" data-toggle="modal" class="btn btn-pay">¥ 打赏支持</a>
          <div class="avatar-list"></div>
        </div>
<!--打赏作者-->

                </div>
                <div class="col-md-3">
                    <div class="photo-actions-section">
                    <h4>作品简介</h4>

                        <div>{{photo.discrib}} [{{photo.pictures.length}}张]</div>
                        <div class="cart-actions not-in-cart">
                            {{#if photo.price}}
                            <div class="price"> 售价：￥{{photo.price}}</div>

                            {{#if authorIsNotSelf}}

                            {{#if isBuy }}
                             <button class="btn-buy btn btn-success btn-block btn-lg " disabled="disabled">
                                已购买
                            </button>
                            

                            {{else}}
<!--                            <a href="/deal/photo/buy/{{photo._id}}" class="btn btn-primary btn-block btn-lg ">
                                立即购买
                            </a>
 -->
                            <button class="btn btn-primary btn-block btn-lg Jbtn-buy">
                                立即购买
                            </button>


                            {{/if}}
                              {{/if}}
                            <br>
                            <p>已有<i class="red">{{photo.trade_cnt}}</i>人购买</p>
                            {{/if}}
                            <h4>作者信息</h4>

                            <div id="author">
                            <div class="clearfix">
<div class="headpic"><img width="50" src="{{author.avatar}}?imageView2/1/w/50/"></div>
<div class="title"><a href="/userspace/{{user.id}}">{{author.nickname}}</a></div>

{{#if authorIsNotSelf}}

{{#if isFollow}}
 <div class="flow"> <button id="{{author._id}}" title="点击取消关注" action-type="follow" type="button" class="btn btn-default btn-mn flowbtn unflowbtn">✔ 已关注</button></div>
{{else}}
 <div class="flow"> <button id="{{author._id}}" title="点击关注" action-type="follow"  type="button" class="btn btn-primary btn-mn flowbtn"> + 关注</button></div>
{{/if}}

{{/if}}
</div>


                            </div>
                            <h4>评论</h4>

                            <div >
                                <div class="media">
                                    <div class="media-left media-top">
                                        <img width="30" height="30" src="

                                        {{#if user}}
                                            {{user.avatar}}?imageView2/1/w/30/
                                        {{else}}

                                        {{default_avatar}}

                                        {{/if}}
                                        " />

                                        
                                    </div>
                                    <div class="media-body">
                                  <div style="padding-bottom: 10px;">
                                    <textarea row="2" autoHeight="true" id="commentContent" class="form-control" type="text" name="content"></textarea>
                                            
                                        </div>
                                        <button class="btn btn-sm" id="commentBtn">评论</button>
                                      
                                    </div>
                                </div>
                                <div id="comment">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!--未购买-->
        </div>
    </div>
</div>
</div>



<script type="text" id="buyWindowTpl">

<div id="pay-modal" class="modal pay-modal text-center hide fade in" style="display: block;" aria-hidden="false">
  <div class="modal-header clearfix">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
  </div>
  <form method="post" accept-charset="UTF-8" action="/notes/3326229/rewards" target="_blank" class="new_reward" id="new_reward"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="k7AiCBJguxPmY3amUqOcqyWNYjgtjfUy8JuJ1olxZxXGJZy/U950sC139QbuoiFedq8fLGjtzsURmBiiADCBuQ==" name="authenticity_token">
    <div class="modal-body">
      <a href="/users/yZq3ZV">
        <div class="avatar"><img alt="100" src="http://upload.jianshu.io/users/upload_avatars/259/38c1de65b408.jpg?imageMogr/thumbnail/90x90/quality/100"></div>
</a>      <p><i class="fa fa-quote-left pull-left"></i>您的鼓励是我们前进的动力！<i class="fa fa-quote-right pull-right"></i></p>
      <div class="main-inputs text-left">
        <div class="control-group">
          <label for="reward_amount">打賞金額</label><i class="fa fa-yen"></i>
          <input type="text" id="reward_amount_in_yuan" name="reward[amount_in_yuan]" value="2.00">
        </div>
        <div class="control-group message">
          <textarea id="reward_message" name="reward[message]" placeholder="給Ta留言"></textarea>
        </div>
      </div>
      <div class="choose-pay text-left">
        <h5>選擇支付方式：</h5>
        <div>
          <label for="reward_channel_alipay">
            <div class="iradio_minimal" style="position: relative;"><input type="radio" id="reward_channel_alipay" name="reward[channel]" checked="checked" value="alipay" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
            <span class="alipay-bg"></span>
</label>
          <label for="reward_channel_balance" class="">
            <div class="iradio_minimal" style="position: relative;"><input type="radio" id="reward_channel_balance" name="reward[channel]" value="balance" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
            簡書餘額（ 餘額：¥ 0.00 ）
</label>
          <label for="reward_channel_wx_pub_qr">
            <div class="iradio_minimal checked" style="position: relative;"><input type="radio" id="reward_channel_wx_pub_qr" name="reward[channel]" value="wx_pub_qr" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
            微信支付
</label>        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-large btn-pay" type="submit" name="button">立即支付</button>
    </div>
</form></div>

</script>

{{#extend "customerScript"}}

<script src="/vendor/sweetalert/sweetalert.min.js"></script>
<script src="/vendor/handlebars/handlebars.runtime-v4.0.5.js"></script>
<script src="/tpl/comment_list.hbs.js"></script>
<script>



var postdata = {
    photoId: PAGECONFIG.photoId
}

//评论
var getCommentList=function(){

$.get('/comment/page',{belongId:postdata.photoId},function(json){

  if(json.errorno==0){
        var html=Handlebars.templates.comment_list(json.data);
        $('#comment').html(html)
  }

})
}

getCommentList()


function commentAdd(btn){


  var commentContent=$('#commentContent').val();

  if(commentContent=='' || commentContent.length>200){
    return
  }
    $(btn).text('提交中...')

  $.post('/comment/add',{ 
    replyId:'', //回复人ID (对某个人回复对应的这个人ID,可省略)
    belongId:postdata.photoId, //评论所属ID（图集的ID）
    content:commentContent //回复内容},function(data){
},function(data){
         if (data.errorno == -2) {
            swal({
                title: '请先登录',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "登录",
                cancelButtonText: "取消",
                closeOnConfirm: false
            }, function() {
                location.href = "/login"
            });
          $(btn).text('评论')

        }
        else if(data.errorno==0){
          $('#commentContent').val('');
          $(btn).text('评论')
          getCommentList()


          
        }
})
}

$('#commentBtn').on('click',function(){
    commentAdd(this)
})


    $.fn.autoHeight = function(){
      
      function autoHeight(elem){
        var len=elem.value.length;
        if(len>200){
          return elem.value=elem.value.substring(0,200)
        }
        elem.style.height = '22px';
        elem.scrollTop = 0; //防抖动
        elem.style.height = elem.scrollHeight + 'px';
      }
      
      this.each(function(){
        autoHeight(this);
        $(this).on('keyup', function(){
          autoHeight(this);
        });
      });
     
    }
      
      
    $('textarea[autoHeight]').autoHeight();



// $.post('/api/v1/getUserInfoById', {
//     id: PAGECONFIG.authorId
// }, function(json) {



//     var html = Handlebars.templates.author(json.data);
//     $('#author').html(html);

// })

// $.post('/api/v1/checkIsBuy', postdata, function(data) {
//     if (data.errorno === 0) {
//         $('.btn-buy').addClass('btn-success').text('已购买').attr('disabled', true)
//     }
// })

//提示登录
function showLoginTips(){
     swal({
                title: '登录提示',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "立即登陆",
                cancelButtonText: "下次再说",
                closeOnConfirm: false
            }, function() {
                location.href = "/login"
            });
}

$('.Jbtn-buy').on('click', function() {


    // $(this).attr('disabled',true).text('loading..')

    $.post('/api/v1/buyPhoto', postdata, function(data) {

        if (data.errorno == -1) {
           showLoginTips()
        } else if (data.errorno == -2) {

            swal({
                title: data.msg,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "立即充值",
                cancelButtonText: "下次再说",
                closeOnConfirm: false
            }, function() {
                location.href = "/score"
            });

        } else if (data.errorno == -3) {

            alert(data.msg);

        } else if (data.errorno == 0) {

            swal({
                title: data.msg+'账户余额（199）',
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            }, function() {
                location.href = location.href
            });

        }

    })

})

//关注取消关注

$('[action-type="follow"]').on('click',function(){
    var author_id=$(this).attr('id');
    var $btn=$(this);

    console.log($btn)

    if($btn.hasClass('unflowbtn')){

     $.post('/api/v1/unfollow',{author_id:author_id},function(data){

     if(data.errorno===0){

            $btn.text('+ 关注');
            $btn.removeClass('unflowbtn').attr('title','加关注')

        }

         else if(data.errorno==-1){
             showLoginTips()
        }


    })


    }else{

    $.post('/api/v1/follow',{author_id:author_id},function(data){

        if(data.errorno===0){

            $btn.text('✔ 已关注');
            $btn.addClass('unflowbtn').attr('title','取消关注')

        }
        else if(data.errorno==-1){

             showLoginTips()

        }


    })

    }



})



</script>
{{/extend}}