<div class="container">
 
<br><br>

<div class="row">

<div class="col-sm-12 col-md-8 col-md-offset-2">

<h1 class="text-center">搜索</h1>
<hr>


<form action="/search" method="get">
<div class="input-group input-group-lg">
<span class="input-group-btn">
      </span>
      {{#if keyword}}
      <input type="text" name="keyword" class="form-control" value="{{keyword}}">
      {{else}}
      <input type="text" name="keyword" class="form-control" value="" placeholder="请输入关键字...">
      {{/if}}
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit" >搜索</button>
      </span>
</div>
<br><br>
</form>


		{{#if has_result}}
		<div class="list-group " >
		  <h6class="list-group-item active">
		   搜索 {{keyword}} 结果：
		  </h6>
		  <br>
		  		  <br>


		  {{#each data}}
		  <h2 class="list-group-item"> <small>{{type.title}}</small>
 <a href="/{{type.url}}/{{_id}}" >{{{title}}}</a> 		   <small>{{format update_at}}</small> <h2> 

		  {{/each}}
		</div>
		 </div>



		{{else}}

		<div class="alert">未找到相关内容</div>

		{{/if}}
<br><br><br>

</div>
</div>
</div>




 