<style>
  .m_container {
    background: #fff;
    padding: 20px
  }

  .price {
    color: #f60;
    font-size: 18px;
  }
</style>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">主页</a><span class="divider"></span></li>
    <li class="active">个人中心</li>
  </ol>


  <div class="row">
    {{>uc_menu}}
    <div class="col-lg-10">
      <div class="m_container">
        <div class="alert alert-success">
          <h3>{{user.username}}
            <small>（287303540@qq.com）账户余额：{{user.score}}</small>
          </h3>
        </div>
        <h3>账户充值记录</h3>
        <hr>
        <div class="fillmoney">

          {{#each list}}
            充值时间：{{createAt}}，充值金额：{{money}}，支付方式：{{pay}}<br>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</div>
