<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/userspace.css?9988">
  <link rel="stylesheet" href="/css/justifiedGallery.min.css?9987">
</head>
<div class="g-head">
  <ul class="nav navbar-nav navbar-right">
    {{#if isLogin}}
      {{#if isSelf}}
      {{else}}
        <li>
          <a href="/follow/{{userInfo.id}}" title="关注" class="start-btn"><span class="glyphicon glyphicon-plus"></span>关注</a>
        </li>
      {{/if}}
    {{else}}
      <li>
        <a href="/login" title="登录" class="start-btn"><span class="glyphicon glyphicon-user"></span>会员登录</a>
      </li>
      <li>
        <a href="/signup" title="注册" class="start-btn"><span class="glyphicon glyphicon-edit"></span>注册</a>
      </li>
    {{/if}}
    <li>
      <a href="/" title="首页" class="start-btn"><span class="glyphicon glyphicon-camera"></span>风影网</a>
    </li>
  </ul>
</div>
<div class="u_banner">
  <div class="u_logo">
    <img src="{{userInfo.avatar}}" alt="">
  </div>
  <div class="u_badge">
    {{userInfo.nickname}}
  </div>
</div>
<div class="u_details">
  <h1>
    {{userInfo.signature}}
  </h1>

  <ul class="u_details_list">
    <li>
      <span>{{totalBrowseCount}}</span> 次照片浏览
    </li>
    <li>
      <span>{{userInfo.fans.length}}</span> 名粉丝
    </li>
    <li>
      <span>{{userInfo.followings.length}}</span> 次关注
    </li>
  </ul>
</div>
<div class="tab_wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#new_pic" aria-controls="new_pic" role="tab" data-toggle="tab">图片
      {{totalPicturesCount}}</a></li>
    {{#if isSelf}}
      <li role="presentation"><a href="/uc/view">个人设置</a></li>
    {{/if}}
    <li role="presentation"><a href="#hot_pic" aria-controls="hot_pic" role="tab" data-toggle="tab">关于</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="new_pic">
      <div class="basicExample">
        {{#each photos}}
          <a href="/photo/{{_id}}" target="_blank">
            <img alt="{{title}}[{{piccnt}}张]" src="{{pictures}}"/>
          </a>
        {{/each}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="hot_pic">
      <div class="about_body">
        <div class="small_wrapper">
          <section class="bio">
            <h3>个人网址</h3>

            <p>
              <a target="_blank" href="http://www.fengimage.com/userspace/{{userInfo._id}}">风影</a>|
              <a target="_blank" href="http://weibo.com/">微博</a>
            </p>
          </section>
          <section class="gear">
            <h3>装备</h3>

            <div class="equipment_group">
              <h3 class="light"><span class="translation_missing"
                                      title="translation missing: zh-CN.common.camera">相机</span>
              </h3>
              <ul class="camera">
                <li>Canon 5d mark III</li>
              </ul>
            </div>
            <div class="equipment_group">
              <h3 class="light"><span class="translation_missing"
                                      title="translation missing: zh-CN.common.lens">镜头</span></h3>
              <ul class="lens">
                <li>Canon 24-105 L</li>
                <li>Canon 85mm 1.2 L</li>
                <li>Tokina 11-16</li>
                <li>sigma 35 1.4 art</li>
                <li>Canon 70-200 2.8 L</li>
              </ul>
            </div>
          </section>
          <section class="stats">
            <h3>统计</h3>

            <div class="stat_block">
              <h3 class="light">热度</h3><span class="number">277.0K</span></div>
            <div class="stat_block">
              <h3 class="light">浏览</h3><span class="number">2.6M</span></div>
            <div class="stat_block">
              <h3 class="light">收藏</h3><span class="number">103.4K</span></div>
            <div class="stat_block">
              <h3 class="light">喜欢</h3><span class="number">274.7K</span></div>
            <div class="stat_block">
              <h3 class="light"><span class="translation_missing"
                                      title="translation missing: zh-CN.common.comments">评论</span>
              </h3><span class="number">8,762</span></div>
          </section>
          <section class="member_for">
            <p>{{regTime}}起成为会员</p>
          </section>
        </div>
        <section class="map show">
          <div id="user_map"></div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="g-foot container">
  被访问{{userInfo.userspace_count}}次 | © {{userInfo.nickname}} | Powered by 风影网
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.justifiedGallery.min.js?9999"></script>
<script type="text/javascript">
  $('.basicExample').justifiedGallery({
    rowHeight: 200,
    lastRow: 'nojustify',
    margins: 3
  });
</script>
