<link rel="stylesheet" href="css/index.min.css"/>

<link rel="stylesheet" href="css/list.min.css"/>

<style>
.img-wapper{
  margin-bottom: 10px
}
.img-wapper img:first-child{
  width: 100%
}
.img-wapper img{
  float: left;
  width: 33.33333333%
}
.thum h4,.thum p{
  overflow: hidden;
text-overflow: ellipsis;
    white-space: nowrap;
}
</style>

<div class="container">
<ul class="subNav">
  <li role="presentation" class="active"><a href="?category=all">全部</a></li>

{{#each category}}
  <li role="presentation" ><a href="?category={{name}}">{{text}}</a></li>
{{/each}}
</ul>

</div>

<div class="container">

<div class="row" id="video-list">

加载中...

</div>

<nav>
  <ul class="pager">共计{{count}}条

    <li class="previous"><a href="?{{prev}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
    <li class="next"><a href="?{{next}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</div>



<script>

$.get('/api/v1/videolist',function(res){

  var html='';
  $.each(res.data.list,function(k,item){

  html+='<div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2 item" >'+
          '<div class="thum"> <a href="/video/'+item._id+'">'+
              '<div class="img-wapper"><img src="'+ item.cover_url +'">'+
                '<div class="time-line"><em class="r">'+ item.duration +'</em> <i class="fa fa-play-circle  fa-lg"></i> </div>'+
              '</div></a>'+
            '<div class="txt">'+
              '<h3> <a href="/video/'+item._id+'">'+ item.title +'</a></h3>'+
              '<p>'+ item.discrib +'<button video-id="'+item._id+'" class="btn btn-sm del" photoid="{{_id}}">X </button></p>'+
           ' </div>'+
         ' </div>'+
        '</div>'

      })

  $('#video-list').html(html)


})

function delVideo(){

  var _id= $(this).attr('video-id');
  var $prent=$(this).closest('.item ')

    $.post('/api/v1/delVideo',{id:_id},function(res){
      if(res.errorno===0){
        alert('删除成功！');
        $prent.fadeOut();

      }
      })


}



$(document).delegate('.del','click',delVideo)


</script>
