<link rel="stylesheet" href="css/index.min.css"/>

<link rel="stylesheet" href="css/list.min.css"/>

<style>
.img-wapper{
  margin-bottom: 10px
}
.img-wapper img:first-child{
  width: 100%
}
.img-wapper img{
  float: left;
  width: 33.33333333%
}
.thum h4,.thum p{
  overflow: hidden;
text-overflow: ellipsis;
    white-space: nowrap;
}
</style>

<div class="container">
<ul class="subNav">
  <li role="presentation" class="active"><a href="?category=all">全部</a></li>

{{#each category}}
  <li role="presentation" ><a href="?category={{name}}">{{text}}</a></li>
{{/each}}
</ul>

</div>

<div class="container">

<div class="row">
  {{#each videos}}

  <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
  {{/each}}

</div>

<nav>
  <ul class="pager">共计{{count}}条

    <li class="previous"><a href="?{{prev}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
    <li class="next"><a href="?{{next}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</div>







<script>


$.get('/api/v1/videolist',function(res){
  console.log(res);
})

function delPhoto(){

  var _id= $(this).attr('photoid');
  var $prent=$(this).closest('.list-group-item ')

    $.post('/api/v1/delPhoto',{id:_id},function(res){
      if(res.errorno===0){
        alert('删除成功！');
        $prent.fadeOut();

      }
      })


}



$('.del').on('click',delPhoto)


</script>
