{{#each list}}
<div class="media">
    <div class="media-left">
        <a href="/userspace/{{userId}}"><img width="20" alt="" src="{{userAvatar}}?imageView2/1/w/50/"></a>
    </div>
    <div class="media-body">
        <p class="info"><strong><a href="/userspace/{{userId}}">{{nickname}}</a>:</strong>{{content}}</p>
        <p class="date">{{createAt}}</p>
    </div>
</div>
{{/each}}
